[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
peewee = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
alembic = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[requires]
python_version = "3.8"
